@model MusicStoreAPI.Models.CMS.WebHeaders

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WebHeaders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WebSiteContent" class="control-label"></label>
                <input asp-for="WebSiteContent" class="form-control" />
                <span asp-validation-for="WebSiteContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSiteLink" class="control-label"></label>
                <input asp-for="WebSiteLink" class="form-control" />
                <span asp-validation-for="WebSiteLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriptions" class="control-label"></label>
                <input asp-for="Descriptions" class="form-control" />
                <span asp-validation-for="Descriptions" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isActive" /> @Html.DisplayNameFor(model => model.isActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModificationDate" class="control-label"></label>
                <input asp-for="ModificationDate" class="form-control" />
                <span asp-validation-for="ModificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfDelete" class="control-label"></label>
                <input asp-for="DateOfDelete" class="form-control" />
                <span asp-validation-for="DateOfDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@* script to keep the swtch disabled *@
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var isActiveSwitch = document.getElementById("isActiveSwitch");
            var isActiveLabel = document.getElementById("isActiveLabel");

            // set the checkbox state to the one from the model
            if (@Model.isActive.ToString().ToLower()) {
                isActiveSwitch.checked = true;
                isActiveSwitch.disabled = true;
                isActiveLabel.innerText = "This field is active and can only be deactivated by deleting the item";
            }

            // Add listener, to prevent turning off
            isActiveSwitch.addEventListener("change", function (event) {
                if (@Model.isActive.ToString().ToLower() && !isActiveSwitch.checked) {
                             .checked = true;
                    // Set Switch to disabled
                    isActiveSwitch.disabled = true;
                    isActiveLabel.innerText = "This field is active and can only be deactivated by deleting the item";
                }
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}