@model MusicStoreAPI.Models.CMS.ProductCategory

@{
    ViewData["Title"] = "Edit";
}

 
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-sm-12 ">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4 text-center">Edit Product Category</h6>
                <form asp-action="Edit">
                    <label asp-for="Name">Category Name</label>

                    <div class="form-floating mb-3">
                        <input asp-for="Name" class="form-control" id="floatingInput" placeholder="">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <label asp-for="Name">Description</label>

                    <div class="form-floating">
                        <textarea asp-for="Descriptions" class="form-control" style="height: 300px;" placeholder=""></textarea>
                        <span asp-validation-for="Descriptions" class="text-danger"></span>

                    </div>
                    <br>
                    <label asp-for="isActive" class="form-check-label" for="flexSwitchCheckChecked">
                        Should that field be visible to the user?
                    </label>
                    <div class="form-check form-switch">
                        <input asp-for="isActive" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked="">
                        <span asp-validation-for="isActive" class="text-danger"></span>

                    </div><br>
                    <label asp-for="WebHeaderId">WebHeader</label>

                    <div class="form-floating mb-3">
                        <select asp-for="WebHeaderId" class="form-control" asp-items="ViewBag.WebHeaderId">
                            <option value="">-- Select Category --</option>
                        </select>
                        <span asp-validation-for="WebHeaderId" class="text-danger"></span>
                    </div><br>
                    <div class="col-sm-12 col-xl-3">

                        <div class="form-group">
                            <label asp-for="Position" for="numberInput">Position</label>
                            <input asp-for="Position" type="number" class="form-control" id="numberInput" placeholder="Enter Number">
                            <span asp-validation-for="Position" class="text-danger"></span>
                        </div>
                    </div><br>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-outline-success m-2" />
                        <a asp-action="Index" class="btn btn-outline-info m-2">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* script to keep the swtch disabled *@
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var isActiveSwitch = document.getElementById("isActiveSwitch");
            var isActiveLabel = document.getElementById("isActiveLabel");

            // set the checkbox state to the one from the model
            if (@Model.isActive.ToString().ToLower()) {
                isActiveSwitch.checked = true;
                isActiveSwitch.disabled = true;
                isActiveLabel.innerText = "This field is active and can only be deactivated by deleting the item";
            }

            // Add listener, to prevent turning off
            isActiveSwitch.addEventListener("change", function (event) {
                if (@Model.isActive.ToString().ToLower() && !isActiveSwitch.checked) {
                             .checked = true;
                    // Set Switch to disabled
                    isActiveSwitch.disabled = true;
                    isActiveLabel.innerText = "This field is active and can only be deactivated by deleting the item";
                }
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

